:root {
  --main-color: #f89d70;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --main-font-family: "Cormorant Unicase", serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

/*font-family: 'Cormorant Unicase', serif;
font-family: 'Montserrat', sans-serif; */

body {
  background-color: #000000;
}

img {
  max-width: 200px;
  display: block;
  margin: 20px auto;
  border-radius: 100px;
  padding: 20px;
  
}

h1 {
  margin-top: -30px;
  font-size: 40px;
  color: var(--main-color);
  font-family: var(--main-font-family);
  text-align: center;
}

h2 {
  font-size: 15px;px;
  color: var(--main-color);
  font-family: var(--secondary-font-family);
  text-align: center;
  margin-top: -3px;
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  margin: 80px 0;
  padding: 10px 1px;
  text-align: center;
  font-family: var(--secondary-font-family);
}

p {
  color: var(--secondary-color);
  opacity: 60%;
  font-family: var(--secondary-font-family);
  text-align: center;
  padding: 10px 50px;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

span {
  font-family: var(--main-font-family);
  color: var(--secondary-color);
}

footer p {
  font-size: 15px;
}

footer .contact-box {
  font-family: var(--secondary-font-family);
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #000000 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #000000 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
  padding: 30px 120px;
}

.wrapper {
  max-width: 980px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
 
}

.hero {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+1,061c04+29,161903+34,000000+52,000000+52,cd7f58+79,cd7f58+80,cd7f58+80,cd7f58+82,cd7f58+83,cd7f58+83,cd7f58+84,cd7f58+84,cd7f58+85,cd7f58+88,cd7f58+88,cd7f58+89,cd7f58+89,cd7f58+92,cd7f58+99,cd7f58+100,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #1e5799 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #000000 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 1%,
    #061c04 29%,
    #161903 34%,
    #000000 52%,
    #000000 52%,
    #cd7f58 79%,
    #cd7f58 80%,
    #cd7f58 80%,
    #cd7f58 82%,
    #cd7f58 83%,
    #cd7f58 83%,
    #cd7f58 84%,
    #cd7f58 84%,
    #cd7f58 85%,
    #cd7f58 88%,
    #cd7f58 88%,
    #cd7f58 89%,
    #cd7f58 89%,
    #cd7f58 92%,
    #cd7f58 99%,
    #cd7f58 100%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.links {
  /* background: rgb(238, 231, 231); */
  background-image: url("images/vincent-guth-uhoILl3HUZM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -20px;
  padding: 20px;
}

section {
  background: #efdcce;
  margin: 10px 50px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}


h1, h2 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


